<% content_for(:page_title) { @page.title } %>
<% content_for(:meta_description) { meta_prepare( @page.content_for(:body) ) } %>

<div class="container getting-started clearfix">
  <main>
    <h1><%= raw @page.title %></h1>
    <%= raw Shortcode.process( @page.content_for(:body) ) %>
  </main>

  <div class="sidebar-wrapper one-rounded desktop">
    <aside class="one-rounded">
      <h3><%= copywriting('Getting Started Sidebar Heading', {scope: 'getting-started', default: 'Join SGAN'}) %></h3>
      <p><%= copywriting('Getting Started Sidebar Content', {scope: 'getting-started', default: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet convallis elit. Duis non elementum turpis. Suspendisse in tempus metus, vel vehicula justo. Curabitur ullamcorper.'}) %></p>
      <%= link_to "More Info", "/advice/making-the-case", class: "link-button-general" %>
    </aside>
  </div>

  <section class="initial-questions clearfix">
    <%= raw Shortcode.process( @page.section_one.to_s ) %>
  </section>

  <div class="sidebar-wrapper one-rounded mobile">
    <aside class="one-rounded">
      <h3><%= copywriting('Getting Started Sidebar Heading', {scope: 'getting-started', default: 'Join SGAN'}) %></h3>
      <p><%= copywriting('Getting Started Sidebar Content', {scope: 'getting-started', default: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet convallis elit. Duis non elementum turpis. Suspendisse in tempus metus, vel vehicula justo. Curabitur ullamcorper.'}) %></p>
      <%= link_to "More Info", "/advice/making-the-case", class: "link-button-general" %>
    </aside>
  </div>
  
  <h2 class="first-steps">First steps</h2>

</div> <!-- .container -->

<section class="getting-started-ctas">
  <div class="container clearfix">
      
    <div class="cta-wrapper contact-cta">
      <div class="cta-item one-rounded">
        <h3>Contact Us</h3>
        <%= raw @page.footer_section_left %>
        <%= link_to "Contact", "/contact", class: "button inverted" %>
      </div>
    </div>
    <div class="cta-wrapper online-resources-cta">
      <div class="cta-item one-rounded">
        <h3>Online Resources</h3>
        <%= raw @page.footer_section_right %>
      </div>
    </div>

  </div>
</section>

